<!DOCTYPE html>
<html lang="en">
  <body>  <%- include('./partials/head')  %>
	
        <%- include('./partials/header')  %>
        <%- include('./partials/navigation')  %>

    
   

    <div class="container">
   
            <h1 class="text-center">Lista De compras</h1>
    
          

            <table id="tabla_content" class= "table display nowrap mt-2 table-bordered table-striped " style="width: 100%;">
                <th>ID</th>
                <th>Nombre Usuario</th>
                <th>Fecha Compra</th>
            <tbody>
                <% for(var i=0;i<Listado_Compra.length;i++){ %> 
                    <tr >
                        <td><%=Listado_Compra[i].PK_idCompra%></td>
                        <td><%=Listado_Compra[i].nombreUsuario%></td>
                        <td><%=Listado_Compra[i].fechaCompra%></td>
                        
                    </tr>
                <% } %>  
            </tbody>
            </table>
            
    </div>


    
  	<div>
		<%- include('./partials/footer.ejs')  %>
	</div>
</body>
</html>
 <script>
 
 
 
 </script>
 